*{
    margin:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --one: url("pexels-victor-freitas-841130.jpg");
    --nav3: rgb(147, 207, 207);
    --navmenu3: rgb(33, 39, 39);
}
.dark-theme{
    --one: url("pexels-jaime-reimer-2662116\ \(1\)\ -\ Copy.jpg");
    --nav3: rgb(19, 92, 92);
    --navmenu3: rgb(173, 233, 233);
}
.hero{
    background:var(--one);
    background-size: cover;
    background-position-y: -100px;
    width: 100%;
    color: rgb(240, 255, 255);
    position: relative;
    min-height: 100vh;
    
}



nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
    background: var(--nav3);
}
nav .menu{
    width: 35px;
    margin-right: 30px;
    cursor: auto;
}
nav .logo{
    width: 35px;
    cursor: auto;

}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 33px;
}
nav ul li a{
    text-decoration: none;
    color: var(--navmenu3);
}
nav ul li a:hover{
    
    transition: 0.5s;
    text-decoration: wavy;
    border: 3px solid azure;
    border-radius: 30px;
    padding: 10px;
    
}
button{
    background: purple;
    height: 30px;
    width: 64px;
    border-radius: 30px;
    border: 0px;
    outline: 0px;
    cursor: auto;
    transition: background 0.5s;
}
button span{
    display: block;
    background: rgb(212, 209, 212);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;

}
.img3{
    position: absolute;
    top: 0px;
    left: 11%;
    width: 200px;
}
.heading{
    color: azure;
    position: absolute;
    top: 39%;
    left: 8%;
    
    
}
.heading h1{
    font-size: 82px;
    color: transparent;
    -webkit-text-stroke: 1px azure ;
    background: url("pexels-brigitte-ledermann-930700.jpg");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: ani3 10s linear infinite;
}
@keyframes ani3{
    100%
    {
        background-position: 2000px 0px;
    }
}
.heading button{
    
    background: transparent;
    border-radius: 20px;
    border: 1px solid azure;
    width: 182px;
    margin: 3px;
    
}
.heading button p{
    color: azure;

}
.social{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 82px;
    left: -56px;
    padding: 0px 0px;
    margin: 3px 3px;
}


.social a img{
    width: 39px;
    padding: 3px;

}
.left{
    width: 60px;
    height: 100vh;
    background: linear-gradient(rgb(182, 99, 182),rgb(84, 180, 180));
    opacity: 20%;
    position: absolute;
    top: 0;
    left: -100;

}
.active{
    background: rgb(223, 210, 29);
}
.active span{
    background: azure;
    margin-left: 30px;
}
.container
{
    left: 800px;
    top: 190px;
    position: absolute;

}
.card{
    text-align: center;
    font-size: 30px;
}
.formbox{
    top: 53px;
    left: 802px;
    bottom: 56px;
    width: 381px;
    height: 480px;
    position: absolute;
    margin: 6% auto;
    background: rgb(228, 243, 243);
    padding: 5px;
    overflow: hidden;
}
.buttonbox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 10px rgb(194, 166, 107);
    border-radius: 30px;
}
.button3{
    padding: 0px 0px;
    background: linear-gradient(rgb(233, 115, 19),rgb(219, 121, 29));
    border: 0px solid;
    outline: none;
    position: relative;
    margin: 0px 19px;
}
.btn3{
    top: 0;
    left: 0;
    position: absolute;
    width: 80px;
    height: 100%;
    background: linear-gradient(rgb(233, 63, 63),rgb(207, 143, 23));
    border-radius: 30px;
    transition: .5s;
    
}
.inputform{
    top: 183px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.inputfields{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgb(142, 146, 146);
    outline: none;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    

}
.submitbtn{
    width: 82%;
    padding: 10px 30px;
    margin: auto;
    border-radius: 30px;
    display: block;
    background: linear-gradient(rgb(233, 63, 63),rgb(207, 143, 23));


}
.button3:active{
    background: linear-gradient(rgb(233, 103, 16),rgb(219, 149, 43));
}
#bmi{
    left: 80px;

}
#hydration{
    left: 453px;
}

.footer{
    margin: 10px 3px;
}
